{% extends '::base2.html.twig' %}

{% block body %}
	{% if app.request.locale == "fr" %}
	<h1>Conditions d'utilisation du site de Global Réservation</h1>
	<p>Global Réservation est un portail qui vous propose plusieurs services et informations touristiques comme la réservation dans divers établissements d'hébergement, les coordonnées de festivals, événements et activités ainsi que des nouvelles dans le milieu touristique.  </p>
	<p>Toute réservation est faite directement avec le fournisseur (établissement d'hébergement, services touristiques ou autres) et non avec Global Réservation.  Global Réservation n'est aucunement responsable pour toute problématique dans une réservation effectuée.  Global Réservation n'est pas responsable des prix qui sont publiés par les fournisseurs de services touristiques et établissements d'hébergement.  Global Réservation n'est pas tenue responsable des fautes, gestes ou omissions des fournisseurs et de ses employés puisque Global Réservation n'a aucun contrôle sur ceux-ci. Par conséquent, tout incident résultant d’un éventuel défaut d’un fournisseur n’engage que la responsabilité du fournisseur et aucunement Global Réservation.  Global Réservation se dégage de toute responsabilité en relation avec toute réclamation telle qu'elle soit (perte, blessure, retard, erreur, négligence, vol, décès, refus d'honorer la réservation par le fournisseur ou autres).</p>
	<p>Tout le contenu sur le site de Global Réservation est utilisé principalement dans un but informatif et pour diffusion sur le Web.  Tout  ce contenu (textes, photos, logos, noms, vidéos et autres) est protégé par les lois nationales et internationales (Canada, États-Unis et autres pays) de propriété intellectuelle et notamment en matière de droit d’auteur.</p>
	<p>Vous pouvez télécharger et imprimer du contenu sur ce site Internet pour un but personnel seulement.  Il est strictement interdit de publier, distribuer, reproduire ou utiliser tout contenu du site de Global Réservation sans autorisation au préalable sous peine de sanctions légales. </p>
	<p>Global Réservation s'efforce de vous fournir un service de qualité ainsi qu'un contenu varié portant sur le tourisme.  Il pourrait arriver qu'il se glisse des erreurs qui seraient hors de notre contrôle sur des coordonnées, tarifs, forfaits et autres.  Global Réservation ne peut être tenue responsable de ses erreurs.  Global Réservation s'efforce que ses fournisseurs en tourisme mettre à jour régulièrement leur fiche d'information sur leur entreprise.  </p>
	<p>Si vous, cher Client, décidez d'utiliser le site de Global Réservation, vous acceptez inconditionnellement toutes les conditions mentionnées ainsi que les divers avertissements.  </p>
	<p>Veuillez noter que Global Réservation peut modifier ses conditions d'utilisation en tout temps et ce, sans préavis et sans engagement de responsabilité.</p>
	<p>Pour toute information supplémentaire, veuillez communiquer avec Global Réservation à <a href="mailTo:ventes@global-reservation.com" >ventes@global-reservation.com</a>. </p>
	<h2>ÉTABLISSEMENTS D'HÉBERGEMENT</h2>
	<ul>
		<li>- Les photos, logos et textes sont les propriétés de chaque établissements d'hébergement et vous devez communiquer avec eux pour utiliser tout contenu publié sur le site de Global Réservation.</li>
		<li>- Tout tarif mentionné peut être modifié étant des tarifs à mention "à partir de" et ils ne comprennent ni les taxes, services ou autres frais (il est important de toujours vérifier si les tarifs affichés sont par personne ou pour 2 personnes ou autres);</li>
		<li>- En cas de réservation téléphonique ou en ligne, il est important de bien indiquer vos coordonnées puisque ces renseignements sont importants pour le fournisseur (établissement d'hébergement).  Il est important de valider les politiques d'annulation et de réservation.  IMPORTANT de TOUJOURS revalider votre date d'arrivée ainsi que le nombre de nuits et autres informations pertinentes.</li>
		<li>- Lors d'une réservation en ligne, vous recevrez un courriel de confirmation de votre réservation.  IMPORTANT de TOUJOURS revalider votre date d'arrivée ainsi que le nombre de nuits et autres informations pertinentes.  Toute information supplémentaire écrite dans les notes de la réservation en ligne sera traitée après la réservation.  Il serait important de vérifier que tout a bien été pris en considération dans votre réservation.</li>
		<li>- Les politiques d'annulation et de réservation appliquées sont toujours celles de l'établissement d'hébergement ainsi que les heures d'enregistrement ou de sortie.  En cas d'annulation dernière minute, vous devez communiquer directement avec l'établissement d'hébergement par téléphone pour vous assurer de bien faire votre annulation.  Il est impossible d'annuler une réservation prépayée, non remboursable (advance purchase),  avec un tarif spécial.  IMPORTANT de bien lire le type de chambres que vous réservez en ligne;</li>	
		<li>- Global Réservation ne prélève aucun montant sur votre carte de crédit puisqu'il n'est pas marchand.  Pour toute problématique, vous devez communiquer directement avec l'établissement d'hébergement.  Tout paiement fait sur le site de Global Réservation via une réservation en ligne est sécurisé via le système ReservIT.  Le numéro de cartes de crédit sert pour garantir votre réservation en ligne</li>
	</ul>
	<h2>SERVICES TOURISTIQUES</h2>
	<p>activités, festivals, évènements, restaurants et autres services</p>
	<ul>
		<li>- Les photos, logos et textes sont les propriétés de chaque fournisseur et vous devez communiquer avec eux pour utiliser tout contenu publié sur le site de Global Réservation.</li>
		<li>- Tout information mentionné est de la responsabilité du fournisseur et non de Global Réservation.</li>
		<li>- Global Réservation vous propose l'hyperlien vers le site Internet du fournisseur, cependant, on ne garantit pas la validité de l'information publiée.</li>
	</ul>
	<p>Le présent contrat constitue une entente intégrale entre le client et Global Réservation concernant le présent site Internet.  Elle annule toute autre entente antérieure électronique, verbale ou écrite, entre le client et Global Réservation à l’égard du présent site Internet. </p>
	<h2>Clause d’arbitrage</h2>
	<p>Sous réserve des termes du présent contrat, toute réclamation contestée découlant directement ou indirectement de la présente convention, tout différend concernant l'exécution de celle-ci, y compris son annulation, ainsi que tout litige issu d'un problème d'interprétation de la convention doit être soumis à l'arbitrage, et ce à l'exclusion des tribunaux de droit commun.</p>
	<p>Les parties renoncent mutuellement à intenter quelque procédure contre l'autre autrement que par le processus d'arbitrage établi aux présentes, et ce tant dans un recours contractuel qu'extra-contractuel, d'un recours direct contre l'autre que dans le cadre d'un appel en garantie, d'une intervention forcée de quelque nature ou d'une procédure impliquant une pluralité de demandeurs ou de défendeurs.</p>
	<p>Les parties aux présentes conviennent que les coûts de l'arbitrage seront partagés entre elles en parts égales et que les dispositions actuellement en vigueur des articles 940 et suivants du Code de procédure civile, L.R.Q., c. C-25, doivent régir tout arbitrage tenu en vertu de la présente section.
	   Les parties reconnaissent que la décision arbitrale sera finale, exécutoire et sans appel.</p>
	<p>En cas de litige, les parties élisent domicile dans le district judiciaire de Québec.</p>
	{% else %}
	<h1>Terms of Use of the site Global Reservation</h1>
	<p>Global Reservation is a portal that offers you many services and tourism information such as accommodation reservation, all the details concerning festivals, events and activities, as well as news in the world of tourism. </p>
	<p>All bookings are made directly with the provider (accommodation establishment, tourist services or others) and not with Global Reservation. Global Reservation is in no way responsible for any problems with a reservation. Global Reservation is not responsible of the prices that are presented by the tourist services and accommodation providers. Global Reservation cannot be hold responsible for any errors, acts or omissions from providers and its employees since Global Reservation has no control over them. Consequently, any incident caused by an eventual error of a provider is the sole responsibility of the provider and not Global Reservation. Global Reservation disclaims any responsibility in connection with any claims there might be (loss, injury, delay, error, negligence, theft, death, refusal to honour a reservation by provider or others).</p>
	<p>All content on Global Reservation’s site is primarily used as an information tool to be webcasted. All content (texts, photos, logos, names, videos and others) are protected by national and international laws (Canada, United States and other countries) of intellectual property and particularly in terms of copyright.</p>
	<p>You can download and print the content of the Website only for a personal use. It is strictly prohibited to publish, distribute, reproduce or use any content of Global Reservation’s website without prior authorization. Offenders will be prosecuted.</p>
	<p>Global Reservation strives to offer a service of quality and a varied content on tourism. However, it might be possible that some errors concerning contact details, rates, packages or others are present beyond our control. Global Reservation cannot be held responsible for these errors. Global Reservation tries its best to make providers update regularly the information on their page.</p>
	<p>If you, dear Client, decide to use Global Reservation’s site, you unconditionally accept all the mentioned terms of use as well as the different notices. </p>
	<p>Please note that Global Reservation may revise these terms of use at any time, without notice and without liability.</p>
	<p>For further information, please contact Global Reservation at<a href="mailTo:ventes@global-reservation.com" >ventes@global-reservation.com</a>. </p>
	<h2>ACCOMMODATION ESTABLISHMENT</h2>
	<ul>
		<li>- Photos, logos and texts are the property of each accommodation establishments and you must contact them in order to use the content published on Global Reservation’s site.</li>
		<li>- All mentioned rates can be modified, since these rates mentions “starting from”, and do not include taxes, service charges or other fees (it is important to always check if the mentioned rates are per person, for 2 or others).</li>
		<li>- In the case of a phone or online reservation, it is important to give your correct contact details since this information is important for the provider (accommodation establishment). It is important to confirm the cancellation and reservation policies. It is also IMPORTANT to ALWAYS reconfirm your arrival date as well as the number of nights and other information relevant to your stay.</li>
		<li>- When booking online, you will receive an email confirmation of your booking. It is also IMPORTANT to ALWAYS reconfirm your arrival date as well as the number of nights and other information relevant to your stay. Any additional information present in the notes of the online booking will be treated after the reservation. It would be important to verify that everything has been taken into account in your reservation.</li>
		<li>- Cancellation and reservation policies applied are always those of the accommodation establishment as well as check-in and check-out time. In the case of a last minute cancellation, you must contact the accommodation facility by phone to make sure that your cancellation is confirmed. It is impossible to cancel a prepaid reservation, a non-refundable reservation (advance purchase) or a reservation with a special rate. It is IMPORTANT to read with attention the type of room that you book online.</li>	
		<li>- Global Reservation does not debit your credit card since it is not the merchant with whom you transact. For any problems, you must contact directly the accommodation establishment. Any payment made on Global Reservation’s site via an online booking is secure through the ReservIT system. The credit card numbers are used to guarantee your online reservation.</li>
	</ul>
	<h2>TOURISM SERVICES </h2>
	<p>activities, festivals, events, restaurants and other services</p>
	<ul>
		<li>- Photos, logos and texts are the property of each provider and you must contact them in order to use the content published on Global Reservation’s site.</li>
		<li>- All the information listed is the responsibility of the provider and not Global Reservation.</li>
		<li>- Global Reservation offers you an hyperlink directing to the provider’s website, but the validity of the information listed is not guaranteed.</li>
	</ul>
	<p>The present contract constitutes an integrated agreement between the client and Global Reservation concerning the present Website. It cancels any other prior electronic, oral or written agreements between the client and Global Reservation in respect to the present website. </p>
	<h2>Arbitration Clause</h2>
	<p>Subject to the terms of this contract, any dispute arising directly or indirectly out of this agreement, any disputes concerning its execution, including its cancellation, as well as any disputes arising from a problem of interpretation of the agreement shall be submitted to arbitration, and this at the exception of the ordinary courts.</p>
	<p>The parties mutually waive to initiate any proceeding against the other except by the arbitration process established hereunder, and this for either contractual or extra-contractual claim; a direct claim against the other being possible only concerning an introduction of third parties, a forced intervention of any kind or a procedure involving several plaintiffs or defendants.</p>
	<p>The parties hereto agree that the costs of the arbitration shall be shared equally between them and the current provisions of Articles 940 and following of the Code of Civil Procedure, RSQ, c. C-25 shall govern any arbitration held in accordance of the present section.
	   Both parties agree that the arbitration award shall be final, legally binding and irrevocable.
	</p>
	<p>In case of dispute, the parties elect domicile in the judicial district of Quebec City.</p>

	{% endif %}
	<br />
		{# PUB GOOGLE #}
			<div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
				<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_01'); });
				</script>
			</div>
		<script>
			$(function(){
				$("ul.ulAriane li").css("padding","0");
				$("#navhaut nav ul li").css("font-size","16px");
			});
		</script>
{% endblock %}