{%  extends '::base1.html.twig' %}
{% block content %}
	page pour récupérer le mot de passe
	<form action="" method="post" {{ form_enctype(form) }} class="authentification">						
	    <div class="">{{ form_label(form.email, "Incrivez votre adresse courriel") }}</div>
	    {{ form_widget(form.email) }}
	    {{ form_rest(form) }}				    
	    <input type="submit" value="Envoyer" class="log"/>
	</form>
{% endblock %}