{% extends '::base1.html.twig' %}
{% block content %}
	<ul>
		<li>Section hébergement
			<ul class="under_list_general">
				<li>Hébergements</li>
				<li>Catégories</li>
				<li>Activités</li>
				<li>Services</li>
				<li>Styles</li>
				<li>Types de chambres
					<ul class="under_under_list_hebergement">
						<li>Chambres</li>
						<li>Lits</li>
					</ul>
				</li>
				<li>Types d'occupations</li>
				<li>Équipements</li>
				<li>Affiliations</li>
				<li>Services corporatifs</li>
				<li>Salles corporatives</li>
				<li>Événements corporatifs</li>
			</ul>
		</li>
	</ul>
{% endblock %}