{% extends '::base1.html.twig' %}
{% block content %}
	<ul>
		<li>Section statistiques
			<ul class="under_list_general">
				<li>Statistiques clients</li>
				<li>Statistiques pour le mois</li>
				<li>Statistiques pour l'année</li>
				<li>Statistiques archives</li>
			</ul>
		</li>
	</ul>
{% endblock %}