{% extends '::base1.html.twig' %}
{% block content %}
	<ul>
		<li>Section général
			<ul class="under_list_general">
				<li>Pays</li>
				<li>Provinces / états</li>
				<li>Régions touristiques</li>
				<li>Zones</li>
				<li>Ville</li>
				<li>Modes de paiements</li>
				<li>Devises</li>
				<li>Acomptes</li>
				<li>Forfaits</li>
				<li>Cotations</li>
				<li>Clients</li>
			</ul>
		</li>
	</ul>
{% endblock %}