{% extends '::base1.html.twig' %}
{% block content %}
	<ul>
		<li>Section informations diverses
			<ul class="under_list_general">
				<li>Liste des utilisateurs du système</li>
				<li>Logs et anomalies</li>
			</ul>
		</li>
	</ul>
{% endblock %}