{% extends '::base1.html.twig' %}
{% block content %}
	<ul>
		<li>Section attraits
			<ul class="under_list_general">
				<li>Attraits</li>
				<li>Catégories d'attraits</li>
				<li>Sous catégories</li>
				<li>Types soins de santé</li>
				<li>Soins de santé</li>
				<li>Modes de paiements</li>
				<li>Activités</li>
				<li>Services</li>
				<li>Cuisines</li>
				<li>Photos</li>
			</ul>
		</li>
	</ul>
{% endblock %}