{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="template_etroit">
			<tbody>
				<tr class="rowheader">
					<td> 
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0" class="menu_mobile">
							<tbody>
									<tr class="rowsubheader">
									    <td width="270">Utilisateurs / clients</td>
									    <td width="270">Dernier log</td>
										<td width="270">Anomalies</td>
									</tr>
							</tbody>
						</table>
						
						<table align="center" class="info_scroll" cellpadding="0" border="0">
							<tbody>
				
									{% for p in listClient %}
									<tr style="width:310px;">
										<td rowspan="1" style="width:310px;">{{ p.nom }}</td>
										<td rowspan="1" style="width:310px;">{{ p.datedelog }}</td>
										<td rowspan="1" style="width:310px;">test reste à programmer</td>
									</tr>
									{% endfor %}
								
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}